@import "./variables.scss";

body {
  margin: 0 15px 0;
  height: 100vh;
  font-family: $third-font;
  background-color: cornsilk;
  color: $navy;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: double 2px grey;
  justify-items: center;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border-bottom: solid 2px black;
    padding: 20px 0;
    justify-content: space-around;
  }
  &__title {
    color: darkgoldenrod;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &--select {
      border: solid gray;
      height: 40px;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.listClubs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 2px black;

  &__title {
    font-weight: 700;
    font-size: 20px;
  }
  &__btn {
    border: none;
    background-color: transparent;

    &--circle {
      font-size: 30px;
      color: grey;
    }
    &--circle {
      cursor: pointer;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    :hover {
      transform: scale(1.1);
    }
    &--club {
      padding: 10px 15px;
      margin: 20px 20px;
      border: 2px double grey;
      box-shadow: 5px 10px #888888;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 160px;
      height: 250px;
    }
  }
}

.addNewClub {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 2px double grey;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 20px;

    &--input {
      margin: 7px 0px;
      width: 200px;
    }

    &--submit {
      border: none;
      width: 200px;
      padding: 10px 0px;
      margin-top: 5px;
      font-family: inherit;
      font-weight: bold;
      font-size: 16px;
      background-color: khaki;
      border-radius: 10px;
    }
    &--submit:hover {
      cursor: pointer;
      background-color: #85d6de;
    }
  }
}

.span {
  color: darkgoldenrod;
}

.footer {
  display: flex;
  justify-content: center;
  height: 10vh;

  text-decoration: overline;
  align-items: flex-end;
}
